// region Color palette
// Primary Colors
$color-primary: #333b50;
$color-dark: #2d2d2d;
$color-white: #fff;
$color-light: #bec7d5;
$color-gray: #939dab;
$color-gray-dark: #757A89;

// Secondary Colors
$color-green: #00d646;
$color-blue: #091330;
// endregion

// region App Colors
// Accent
$accent: $color-green;
$complementary: $color-light;

// Text
$color-text: $color-light;
$color-text-inverted: $color-dark;

// Background
$color-background: $color-primary;

// Main Navigation
$navigation-text: $color-gray;

// Shadow
$shadow: #2f2e2e;
// endregion

// region Responsive
$tablet-width: 76.8rem;
$desktop-width: 102.4rem;
$big-desktop-width: 128rem;
// endregion

