<nav>
    <div class="navigation">
        {% include '@Layout/atom/logo.html.twig' with {'raw': true} %}
        {% include '@Layout/atom/navigation-items.html.twig' with {'raw': true} %}
        {% include '@Layout/atom/hamburger.html.twig' with {'raw': true} %}
    </div>
</nav>
