{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <div class="portfolio-block">
        <div class="content-container">
            <div class="content">
                <a href="">
                    <img src="{{ asset("bundles/layout/img/portfolio/deep.jpg") }}" alt="" />
                </a>
                <a href="">
                    <img src="{{ asset("bundles/layout/img/portfolio/desktop.gif") }}" alt="" />
                </a>
                <a href="">
                    <img src="{{ asset("bundles/layout/img/portfolio/fast.jpg") }}" alt="" />
                </a>
            </div>
        </div>
    </div>
{% if raw is not defined or not raw %}</div>{% endif %}
