@import "../helper/variables";

.form {
    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        + .form-row {
            margin-top: 1rem;
        }
    }

    .form-group {
        flex: 1 1 100%;

        + .form-group {
            margin-top: 1rem;
        }
    }

    input,
    textarea {
        width: 100%;
        padding: 1.5rem;
        border-color: transparent;
        outline: 0;
    }

    .button {
        width: 100%;
    }

    .has-error {
        border-color: $color-danger;
    }

    @include on-min-width($tablet-width) {
        .form-row {
            flex-direction: row;
        }

        .form-group + .form-group {
            margin-top: 0;
            margin-left: 1rem;
        }

        input,
        textarea {
            padding: .5rem;
        }
    }
}
