@import "../helper/variables";
@import "../helper/_mixins.scss";

html {
    // normalize font size, so that 1rem = 10px
    font-size: 62.5%;
    height: 100%;
}

body {
    @include roboto-regular();
    font-size: 1.6rem;
    color: $color-text;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 6.5rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.9em;
}

a {
    color: $color-light;
    text-decoration: none;
}
