@import "../helper/variables";
@import "../helper/_mixins.scss";

html {
    // normalize font size, so that 1rem = 10px
    font-size: 62.5%;
    height: 100%;
}

body {
    @include roboto-regular();
    font-size: 1.6rem;
    color: $color-text;
    background-color: $color-primary;

    &.is-active {
        overflow: hidden;

        @include on-min-width($tablet-width) {
            overflow: visible;
        }
    }
}

h1,
h2,
h3 {
    @include roboto-bold();
    text-transform: uppercase;
    line-height: 1.4em;

    span,
    a {
        color: $complementary;
    }

    a {
        &::after {
            content: " >";
        }
    }
}

h1 {
    font-size: 6.5rem;
}

h2 {
    @include roboto-black;
    font-size: 3rem;
    text-align: center;

    @include on-min-width($tablet-width) {
        font-size: 4.5rem;
        letter-spacing: .6rem;
    }
}

h3 {
    @include roboto-regular();
    font-size: 2.1rem;
    line-height: 1.8em;

    @include on-min-width($tablet-width) {
        font-size: 2.4rem;
    }

}

p {
    font-size: 1.5rem;
    line-height: 1.9em;
}

a {
    color: $color-light;
    text-decoration: none;
}
