@import "../helper/variables";

.portfolio-block {
    display: block;
    text-align: center;
    padding: 20rem;
    width: 100%;
    background-color: $color-primary;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32rem;
        width: 98rem;
        margin: 9rem auto 0;
        text-align: center;
        background-color: $color-primary;
        box-shadow: 0 .1rem 2.5rem .4rem rgba($shadow, .3);

        a,
        img {
            display: inline-block;
            height: 100%;
            width: 32.6rem;
            margin: 0;
            padding: 0;
        }

        a {
            position: relative;

            &::before {
                content: "";
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($color-black, .2);
                transition: opacity 0.4s ease 0s;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

}
