.timeline {
    width: 100%;
    max-width: 100rem;
    padding: 2rem;
    margin: 0 auto;

    .timeline-entry {

        h3 {
            text-align: left;
        }

        + .timeline-entry {
            margin-top: 3rem;
        }

        &:nth-child(even) {
            h3 {
                text-align: right;
            }
        }
    }

    @include on-min-width($tablet-width) {
        display: flex;
        flex-direction: column;

        .timeline-entry {
            align-self: flex-end;

            + .timeline-entry {
                margin-top: 0;
            }

            &:nth-child(even) {
                align-self: flex-start;
            }
        }
    }
}
