//endregion
.page-section:nth-child(3) {
    z-index: 1;
}

.hamburger,
.page-section:nth-child(2) {
    z-index: 2;
}

nav {
    z-index: 3;
}

.navigation-items {
    z-index: 4;
}
//region z-index
