{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <p class="copyright">&copy; {{ "now"|date("Y") }} by YOURNAME.</p>
{% if raw is not defined or not raw %}</div>{% endif %}
