{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <div class="hamburger">
        <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
{% if raw is not defined or not raw %}</div>{% endif %}
