<nav>
    <div class="navigation">
        <div class="logo">
            <a href="">R</a>
        </div>
        <ul class="navigation-items">
            <li>
                <a class="is-active" href="#">Home</a>
            </li>
            <li>
                <a href="#">Professional</a>
            </li>
            <li>
                <a href="#">Experience</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <div class="hamburger">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</nav>
