{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <ul class="navigation-items">
        <li>
            <a class="is-active" href="#">Home</a>
        </li>
        <li>
            <a href="#">Professional</a>
        </li>
        <li>
            <a href="#">Experience</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
{% if raw is not defined or not raw %}</div>{% endif %}
