{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <ul class="social sharing">
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
{% if raw is not defined or not raw %}</div>{% endif %}
