{% if raw is not defined or not raw %}<div style="width: 100%;">{% endif %}
    <div class="timeline-entry">
        <div class="content">
            <div class="entry-header">
                <time>2014-2016</time>
                <h3>HOP!</h3>
            </div>
            <strong>Creative Design Lead</strong>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
        </div>
    </div>
{% if raw is not defined or not raw %}</div>{% endif %}
