@import "../helper/variables";
@import "../helper/mixins";

.button {
    @include invisible-button();
    @include roboto-regular();
    background-color: $accent;
    border: .1rem solid $accent;
    color: $color-text-inverted;
    padding: 1.5rem;
    min-width: 20rem;

    &.button-primary {
        background-color: transparent;
        color: $color-text;

        &:hover {
            background-color: $accent;
        }
    }
}
