@import "../helper/variables";

.contact {
    padding: 3rem 1rem 0;
    width: 100%;
    background: url("../img/contact-bg.jpg");
    background-size: cover;

    .content-row {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: $color-primary;

        + .content-row {
            background-color: transparent;
        }
    }

    .content {
        text-align: center;
    }

    .form {
        margin-top: 2rem;
        background-color: $color-primary;
    }

    .social {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2rem 0;

        li + li {
            margin-left: 1rem;
        }

        a {
            display: block;
            width: 42px;
            height: 42px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    @include on-min-width($tablet-width) {
        .content-row {
            flex-direction: row;
            max-width: 94rem;
            padding: 10rem 10rem 5rem;
            margin: 0 auto;

            + .content-row {
                padding: 2.5rem;
                background-color: $color-primary;
            }
        }

        .content,
        .form {
            width: 50%;
        }

        .content {
            max-width: 27rem;
        }

        .form {
            margin-top: 0;
            max-width: 31rem;
            margin-left: 6rem;
        }

        .social {
            margin: 0 auto;
            max-width: 94rem;

            li + li {
                margin-left: 1.5rem;
            }

            a {
                width: 30px;
                height: 30px;
            }
        }
    }

    @include on-min-width($desktop-width) {
        padding: 0;

        .content-container {
            transform: translateY(-50%);
        }
    }
}
