@import "../helper/variables";

.contact {
    padding: 3rem 2rem 0;
    width: 100%;
    background: url("../img/contact-bg.jpg");
    background-size: cover;

    @include on-min-width($tablet-width) {
        padding: 0;
    }

    .form {
        margin-top: 2rem;
        background-color: $color-primary;

        @include on-min-width($tablet-width) {
            width: 50%;
            margin-top: 0;
            max-width: 31rem;
            margin-left: 6rem;
        }
    }

    @include on-min-width($tablet-width) {
        padding: 3rem 2rem;
    }

    .content-row {
        padding: 2rem;
        background-color: $color-primary;

        @include on-min-width($tablet-width) {
            max-width: 94rem;
            flex-direction: row;
            padding: 10rem 10rem 5rem;
        }

        .content {
            text-align: center;

            @include on-min-width($tablet-width) {
                width: 50%;
                max-width: 27rem;
            }
        }
    }
}
